<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @customer.name %>, </h1>
    <p>
      To approve your quote, please click on the link provided: <%= @url %>.

      or http://localhost:3000/quotes<%=@quote.id %>/quote
    </p>
    <p>Thank you for your business!</p>
  </body>
</html>